{
  "dtiinit": "/N/u/hayashis/Karst/testdata/franco/dtiinit",
  "fe": "/N/u/hayashis/Karst/testdata/franco/life/output_fe.mat",
  "useinterhemisphericsplit": false,
  "remove_zero_weighted_fibers": "before"
}
